<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Actividades</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>Lista de Actividades</h1>
    <a href="/activities/new" class="button">Crear Nueva Actividad</a>

    <!-- Enlace para ver actividades abiertas -->
    <a href="/activity-logs/open-activities" class="button">Ver actividades abiertas</a>

    <!-- Formulario de búsqueda por nombre de actividad -->
    <h2>Buscar actividades realizadas por nombre</h2>
    <form action="/activity-logs/activities/search" method="GET">
      <label for="name">Nombre de la actividad:</label>
      <input type="text" id="name" name="name" required>
      <button type="submit">Buscar</button>
    </form>

    <!-- Lista de todas las actividades -->
    <h2>Todas las actividades</h2>
    <ul>
      <% activities.forEach(activity=> { %>
        <li>
          <strong>
            <%= activity.name %>:
          </strong>
          <%= activity.description %>
            <br>
            <strong>Categoría:</strong>
            <%= activity.category_name || 'Sin categoría' %>
              <br>
              <a href="/activities/<%= activity.id %>/edit" class="button">Editar</a>
              <form action="/activities/<%= activity.id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="delete">Eliminar</button>
              </form>
        </li>
        <% }); %>
    </ul>

    <!-- Botón para regresar a la vista principal -->
    <div class="back-to-home">
      <a href="/dashboard" class="button">Regresar a la página principal</a>
    </div>
  </div>
</body>

</html>