<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Hábito</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>Gestión del Tiempo</h1>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/auth/logout">Cerrar sesión</a>
        </nav>
    </header>

    <div class="container">
        <h1>Detalles del Hábito</h1>
        <h2>
            <%= habit.name %>
        </h2>
        <p>
            <%= habit.description %>
        </p>

        <!-- Formulario para filtrar por rango de fechas -->
        <h3>Filtrar actividades por rango de fechas</h3>
        <form action="/habits/<%= habit.id %>/activities-by-date" method="GET">
            <label for="startDate">Fecha de inicio:</label>
            <input type="date" id="startDate" name="startDate" required>
            <br>
            <label for="endDate">Fecha de fin:</label>
            <input type="date" id="endDate" name="endDate" required>
            <br>
            <button type="submit">Filtrar</button>
        </form>

        <h3>Actividades asociadas:</h3>
        <ul>
            <% activities.forEach(activity=> { %>
                <li>
                    <strong>
                        <%= activity.name %>
                    </strong>
                    <p>
                        <%= activity.description %>
                    </p>
                    <p><strong>Categoría:</strong>
                        <%= activity.category_name %>
                    </p>
                    <form action="/habits/<%= habit.id %>/activities/<%= activity.relationId %>?_method=DELETE"
                        method="POST" style="display:inline;">
                        <button type="submit" class="delete">Eliminar</button>
                    </form>
                </li>
                <% }); %>
        </ul>

        <a href="/habits/<%= habit.id %>/add-activity" class="button">Agregar Actividad</a>
        <br>
        <a href="/habits">Volver a la lista de hábitos</a>
    </div>
</body>

</html>